
<div id="search-div" class="d-flex justify-content-center form-inline my-2 my-lg-0 d-inline-block">
          <%= form_tag trip_actions_path(params[:trip_id]), id: "action-search", method: :get do %>

            <%= text_field_tag "term", nil, id: "search", list: "list", placeholder: "Search", class: "form-control mr-sm-2" %>
           	<%= hidden_field_tag(:actiontype, value = params[:actiontype]) %>

            <datalist id="list"></datalist>
          <% end %>
</div>

<div id="columns">
	<% @actions.each_with_index do |x, ind| %>

		<figure>
			<% if x.picture != nil %>
					<%= image_tag x.picture %>
	  		<%end%>
			<figcaption>
				<h5><%=x.title%></h5>	
				<p class="card-text">
					<%= x.type %>
				</p>
				</br>	
					<%= x.description %>
				</br>
					<%= x.location %>
				</br>
					<%= x.time %>
					</br>	
				<div>          
				<% if x.api_source == "Yelp" %>
                    <%=link_to "#{@actions_reviews[ind]} reviews from Yelp", x.link %>
                <%end %>

				</div></br>
				
				<%= link_to 'Add to a trip', trip_action_create_path(params[:trip_id], x.id, method: :patch), class: "btn btn-outline", style: "color: #3ac9c6; border-color: #3ac9c6"%>

			</figcaption>
		</figure>
	
	<% end %>
  
</div>
	
<script>
	$('#search').hide()
</script>






